// Animation settings.
// The wiki explains how to configure individual animations:
// https://yalter.github.io/niri/Configuration:-Animations
// https://yalter.github.io/niri/Configuration:-Animations
animations {
    // 禁用全部动画
    //off

    // 总体动画速度，浮点数(带小数点)，默认为1，小于1加快，大于1减慢
    slowdown 0.98114514
    

    // 切换工作区的动画
    workspace-switch {
    	// 具体动画设置代码块里的off可以单独禁用此动画
	//off
	// spring弹簧动画类型
	// damping-ratio 设置阻尼，默认1.0（仅在触摸板快速滑动时产生回弹），小于1.0会产生回弹，大于1.0会导致bug。
	// stiffness 设置刚度，数值越大动画会越硬越生涩，数值调低更容易产生回弹 
	// epsilon 当动画运动速度和距离小于这个值的时候会判定动画停止
        spring damping-ratio=0.82 stiffness=400 epsilon=0.0001
    }

    // 左右切换聚焦的动画
    horizontal-view-movement {
        spring damping-ratio=0.84 stiffness=400 epsilon=0.0001
    }

    // 打开窗口的动画
    /-window-open {
    	// 动画时长
        duration-ms 150
	// 动画曲线
        curve "ease-out-expo"

	// niri可用的动画曲线：
	// ease-out-quad 比较平缓的加速-->减速曲线，不明显，算是更生动的线性动画
	// ease-out-cubic 较快加速后迅速减速
	// ease-out-expo 超快加速后立马减速
	// linear 纯线性 
	// cubic-bezier 自定义动画曲线，通过 curve "cubic-bezier" 0.05 0.7 0.1 1 的方式传入参数使用
	// 设计曲线可以使用 https://easings.co/
	// 预览预设曲线效果可以看 https://easings.net/
    }
    window-open {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }
    
    // 关闭窗口
    /-window-close {
        duration-ms 150 
        curve "ease-out-quad"
    }
    window-close {
        spring damping-ratio=0.8 stiffness=400 epsilon=0.0001
    }

    // 移动窗口的动画。包括合并列、上下移动窗口、合并/踢出列等。
    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
    
    // 按照预设调整窗口大小时的动画
    window-resize {
        spring damping-ratio=0.9 stiffness=500 epsilon=0.0001
    }
   
    // 开启截图UI的动画
    screenshot-ui-open {
        duration-ms 300 
        curve "ease-out-quad"
    }

    // 开关overview的动画
    overview-open-close {
        spring damping-ratio=1.0 stiffness=900 epsilon=0.0001
    }

}
